<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
rel="stylesheet" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>CU Sommelier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav class="navbar">
        <!-- Add a form for search -->
        <a href="{{ url_for('add') }}">
            <button class="add-button" type="button">Add Wine Info</button>
        </a>

        <div class="logo-click">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="CU Sommelier Logo">
            </a>
        </div>
        <!-- Add a button for adding new items -->
        
        <div>
            <form id="searchForm" action="/search" method="get">
                <input type="text" id="searchInput" name="term" required>
                <input type="submit" value="Search">
            </form>
        </div>
    </nav>
    {% block content %}
    
    {% endblock %}
    <script src="{{ url_for('static', filename='search2.js') }}"></script>
</body>
</html>